<p id="notice"><%= notice %></p>
<% if current_user.teacher? %>
  <marquee><h1>Students</h1></marquee> 
  <h2>
  <a class="nav-link active", <%= link_to 'Results', new_student_path %></a>
  <a class="nav-link active", <%= link_to 'Back', home_index_path %></a>

    <tbody>
      <div class="row">
      <% Student.all.each do |student| %>
        <tr>
        <div class="card" style="width: 20rem;, height: 1rem;">
        <div class="card-body">
        <h5 class="card-title"><%= student.name.capitalize%>  <%= student.last_name.capitalize %></h5><br>
        <p class="card-text">
        <%= student.group %><br>
        belongs to <%= Teacher.name %>
        </p>
        <a class="nav-link active", <%= link_to 'View', student %></a>
      </div>
      </div>
      <% end %>
      <% else %>
  <tbody>
    <h4><center> Enter Your Name to Search Bar for Result</h4>
    <div class="row">
    <% Student.all.each do |student| %><br>

      <tr>
        <div class="card" style="width: 15rem;, height: 1rem;" >
        <div class="card-body">
          <h3 class="card-title"><%= student.name.capitalize%>  <%= student.last_name.capitalize %></h3><br>
          <p class="card-text">
            <%= student.group %><br>
            belongs to <%= Teacher.name %>
          </p>
          <a class="nav-link active", <%= link_to 'View', student %></a>
        </div>
        </div>
        </tr>
  </tbody>
    <% end %>

  <% end %>
