
<% if current_user.teacher? %>
<h1>Students Name</h1>
<a class="nav-link active", <%= link_to 'Back', students_path %>

  <tbody>
    <div class="row">
     <% Result.all.each do |result| %>
      <tr>
        <div class="card" style="width: 20rem;, height: 1rem;">
        <div class="card-body">
        <h2 class="card-title">
         <%= result.name.capitalize %>  <%= result.last_name.capitalize %></h2><br>
        
        <a class="nav-link active", <%= link_to 'View', result %></a>
      </div>
      </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br> 
<% else %>
Enter your Name on Search Button to view your Result ~~~~> <br>

<%= render 'form', student: @student %>

<%end %>
