<div class="container my-3">
<p id="notice"><%= notice %></p>
   <% if current_user.teacher? %>
   <center><marquee>
   <%= link_to 'Create Result', new_result_path %> </marquee>
   <%= link_to 'Back', home_index_path %>
 </center>
<h1>Results of Students</h1>
  <div class="row">
  <tbody>
    <% @results.each do |result| %>

      <tr>
      <div class="card" style="width: 20rem;, height: 1rem;">
      <div class="card-body">
        <h3 class="card-title"><%= result.name.capitalize %>  <%= result.last_name.capitalize %></h3>
        <!-- <p class="card-text">
        <%= result.last_name %>
        <%= result.group %>
        <%= result.subject %>
    </p> -->
        <a class="nav-link active"<%= link_to 'View', result %></a>
        <a class="nav-link active", <%= link_to 'Edit', edit_result_path(result) %></a>
        <a class="nav-link active", <%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></a>
      </div>
      </div>

        </tr>
    <% end %>
  </tbody>
</div>
</table>

<br></h2>
<h1>
  
<% else %>
you came to wrong section <br><br><br>

<%= link_to 'Back', home_index_path %>
<% end %>
</h1>