<p id="notice"><%= notice %></p>
 <h5>
  
<p>
  <strong>Student name:</strong>
  <%= @result.name %>
</p>
 
 <strong>Last name:</strong>
  <%= @result.last_name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @result.group %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @result.subject %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @result.date_of_birth %>
</p>
</h5>
<% if current_user.teacher? %>
  <a class="nav-link active", <%= link_to 'Send Notification', results_path, remote: true %></a> 
  <a class="nav-link active", <%= link_to 'Edit', edit_result_path(@result) %></a> 
<% else %>
  <a class="nav-link active", <%= link_to 'Exit', students_path %> </a> 
<% end %>
<% if current_user.teacher? %>
<a class="nav-link active", <%= link_to 'Back', results_path %> 
<% end %>

