<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %><h2>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  
  <div class="field">
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name, placeholder: "Last Name" %>
  </div>

  <div class="field">
    <%= form.label :group%><br>
    <%= form.text_field :group, placeholder: "Class" %>
  </div>

  <div class="field">
    <%= form.label :subject %><br>
    <%= form.text_field :subject, placeholder: "Subject" %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %><br>
   <%= form.date_field :date_of_birth, placeholder: "Date of Birth" %>
  </div>

  <div class="field">
    <%= form.label :marks %><br>
    <%= form.text_field :marks, placeholder: "Marks" %>
  </div>

  <div class="field">
    <%= form.label :user_id,id: :teachers_user_id %><br>
    <%= form.number_field :user_id, value: current_user.id,type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit "Create Result" %>
  </div>
<% end %></h2>
