<p id="notice"><%= notice %></p>
<body style="background-color: grey">
<h2>
<p>
  <strong>Student name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @teacher.group %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @teacher.subject %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @teacher.date_of_birth %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @teacher.marks %>
</p></h2>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %> |
<%= link_to 'Exit', new_student_path %> 


