<p id="notice"><%= notice %></p>
 <h2>
  
<p>
  <strong>Student name:</strong>
  <%= @teacher.name %>
</p>
 
 <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @teacher.subject %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @teacher.date_of_birth %>
</p>

</h2>
<% if current_user.teacher? %>
  <%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<% else %>
  <%= link_to 'Exit', new_student_path %> 
<% end %>
<% if current_user.teacher? %>
<%= link_to 'Back', teachers_path %> 
<% end %>

