<p id="notice"><%= notice %></p>
 <h4>
  
<p>
  <strong>Teacher name:</strong>
  <%= @teacher.name.capitalize %>
</p>
 
 <strong>Last name:</strong>
  <%= @teacher.last_name.capitalize %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @teacher.subject %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @teacher.date_of_birth %>
</p>

<p>
  <strong>Contact No:</strong>
  <%= @teacher.contact_no %>
</p>

</h4>
<% if current_user.teacher? %>
 <a class="nav-link active", <%= link_to 'Edit', edit_teacher_path(@teacher) %></a> 
<% else %>
<a class="nav-link active",  <%= link_to 'Exit', new_student_path %> </a>
<% end %>
<% if current_user.teacher? %>
<a class="nav-link active", <%= link_to 'Back', teachers_path %> </a>
<% end %>

